<?xml version="1.0" encoding="UTF-8"?>
<data>
     <name>shqhzwj11</name>
     <password>zljiayou2013</password>
     <companyName>÷––≈</companyName>
    
     <person>…Í«Î»À</person>     
     <phone>21365425</phone>

     <keywords>
          <keyword>a</keyword>
          <keyword>b</keyword>
          <keyword>c</keyword>
     </keywords>
</data>